#Tweets{
	float: left;
	height: 1000px;
	width: 400px;
	background: gray;
	text-align: center;
	color: white;
}
#replles{
	float: left;
	height: 1000px;
	width: 400px;
	background: green;
	text-align: center;
	color: white;
}
#search{
	float: left;
	height: 1000px;
	width: 400px;
	background: yellow;
	text-align: center;
	color: white;
}
#messages{
	float: left;
	height: 1000px;
	width: 300px;
	background: red;
	text-align: center;
	color: white;
